nodered/data/flows.json
[
    {
        "id": "9f842c3bab9bc650",
        "type": "tab",
        "label": "TiRex Test",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e51b567d9b9f5836",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mosquitto.tirex-test",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ad016dbdcbc0fd06",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "0259b72f323e51d0",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "2e7f5c35d80f0453",
        "type": "ui-page",
        "name": "TiRex Node-RED Demo",
        "ui": "ad016dbdcbc0fd06",
        "path": "/tirex-demo",
        "icon": "home",
        "layout": "grid",
        "theme": "0259b72f323e51d0",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "7a26dd4051bbd389",
        "type": "ui-group",
        "name": "Time Series Forecasting",
        "page": "2e7f5c35d80f0453",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "440de7626385e463",
        "type": "debug",
        "z": "9f842c3bab9bc650",
        "name": "TiRex Errors",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 40,
        "wires": []
    },
    {
        "id": "a950ed3648b53947",
        "type": "mqtt out",
        "z": "9f842c3bab9bc650",
        "name": "",
        "topic": "tirex/forecast/request",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e51b567d9b9f5836",
        "x": 1460,
        "y": 380,
        "wires": []
    },
    {
        "id": "f41ed6a0653f0976",
        "type": "mqtt in",
        "z": "9f842c3bab9bc650",
        "name": "",
        "topic": "tirex/forecast/error",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "e51b567d9b9f5836",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 830,
        "y": 40,
        "wires": [
            [
                "440de7626385e463"
            ]
        ]
    },
    {
        "id": "d4c36f0c4439be53",
        "type": "mqtt in",
        "z": "9f842c3bab9bc650",
        "name": "",
        "topic": "tirex/forecast/result",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "e51b567d9b9f5836",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1450,
        "y": 460,
        "wires": [
            [
                "8765e5bda6216916"
            ]
        ]
    },
    {
        "id": "327760c5ebb3c3da",
        "type": "csv",
        "z": "9f842c3bab9bc650",
        "name": "",
        "spec": "rfc",
        "sep": ",",
        "hdrin": "",
        "hdrout": "none",
        "multi": "mult",
        "ret": "\\r\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 230,
        "y": 360,
        "wires": [
            [
                "14025c72819d922b"
            ]
        ]
    },
    {
        "id": "e0f89d50a66d6b8b",
        "type": "ui-button",
        "z": "9f842c3bab9bc650",
        "group": "7a26dd4051bbd389",
        "name": "Update Forecast",
        "label": "Update Forecast",
        "order": 4,
        "width": "1",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "file_content",
        "payloadType": "flow",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 530,
        "y": 240,
        "wires": [
            [
                "0e58590a2a3ae7b8"
            ]
        ]
    },
    {
        "id": "2adb98c0fd390862",
        "type": "ui-slider",
        "z": "9f842c3bab9bc650",
        "group": "7a26dd4051bbd389",
        "name": "Prediction Length",
        "label": "Prediction Length",
        "tooltip": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "thumbLabel": "always",
        "showTicks": "always",
        "min": "1",
        "max": "100",
        "step": 1,
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "showTextField": false,
        "x": 270,
        "y": 40,
        "wires": [
            [
                "adacf2834e36fd0e"
            ]
        ]
    },
    {
        "id": "7bc683a69ebbc023",
        "type": "ui-chart",
        "z": "9f842c3bab9bc650",
        "group": "7a26dd4051bbd389",
        "name": "Time Series Plot",
        "label": "Time Series Plot",
        "order": 5,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "Samples",
        "xAxisProperty": "x",
        "xAxisPropertyType": "property",
        "xAxisType": "linear",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "Values",
        "yAxisProperty": "y",
        "yAxisPropertyType": "property",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "1000",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#2ca02c",
            "#2c5ea0",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 2000,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "adacf2834e36fd0e",
        "type": "change",
        "z": "9f842c3bab9bc650",
        "name": "save changes on update",
        "rules": [
            {
                "t": "set",
                "p": "prediction_length",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "8765e5bda6216916",
        "type": "function",
        "z": "9f842c3bab9bc650",
        "name": "prepare mean values for plotting",
        "func": "// get context used for forecast\nlet context_data = flow.get('context_data_full');\n\n// get the latest slider value (fallback to 0 if unset)\nlet prediction_start_offset = flow.get('prediction_start_offset');\nprediction_start_offset = Number.isInteger(prediction_start_offset) ? prediction_start_offset : 0;\n\n\nlet yOffset = context_data.length + prediction_start_offset; \n\n\n// payload is your JSON with mean: [[...]]\nconst series = (msg.payload.mean && msg.payload.mean[0]) ? msg.payload.mean[0] : [];\nconst points = series.map((y, i) => ({ x: i+yOffset, y: Number(y) }));\n\nmsg.topic = \"Forecast Mean\";\nmsg.payload = points;       // array of {x,y}\nmsg.action = \"append\"\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1730,
        "y": 460,
        "wires": [
            [
                "7bc683a69ebbc023"
            ]
        ]
    },
    {
        "id": "868b2eaf5dd93f84",
        "type": "change",
        "z": "9f842c3bab9bc650",
        "name": "save orig context data",
        "rules": [
            {
                "t": "set",
                "p": "context_data_full",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1120,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "0e58590a2a3ae7b8",
        "type": "function",
        "z": "9f842c3bab9bc650",
        "name": "convert into time series format",
        "func": "const context_csv = msg.payload\n\n// msg.payload is like: [{col1:112},{col1:118},...]\nconst context_data = context_csv.map((row) => Number(row.col1));\n\nmsg.payload = context_data\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 360,
        "wires": [
            [
                "868b2eaf5dd93f84",
                "79011f5a55e4cf35"
            ]
        ]
    },
    {
        "id": "79011f5a55e4cf35",
        "type": "function",
        "z": "9f842c3bab9bc650",
        "name": "prepare TiRex input format",
        "func": "let forecast = {}\nlet id = \"demo_context\"\n\n// get the latest slider value (fallback to 1 if unset)\nlet prediction_length = flow.get('prediction_length');\nprediction_length = Number.isInteger(prediction_length) ? prediction_length : 1;\n\n// get the latest slider value (fallback to 0 if unset)\nlet prediction_start_offset = flow.get('prediction_start_offset');\nprediction_start_offset = Number.isInteger(prediction_start_offset) ? prediction_start_offset : 0;\n\n\nconst context_data = msg.payload\n\n// removes context from the end to show prediction accuracy\nconst len = context_data.length;\nconst off = Number(prediction_start_offset) || 0;\n\nconst start = off > 0 ? Math.min(off, len) : 0;\nconst end   = off < 0 ? Math.max(0, len - Math.abs(off)) : len;\n\nconst trimmed_context_data = context_data.slice(start, end);\n\nforecast = {\n    id: id,\n    context: [trimmed_context_data], //TiRex wants a nested array\n    prediction_length: prediction_length\n};\n\nmsg.payload = forecast\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 380,
        "wires": [
            [
                "a950ed3648b53947",
                "766a2db7a7eef21c"
            ]
        ]
    },
    {
        "id": "650313665ec6a9cf",
        "type": "change",
        "z": "9f842c3bab9bc650",
        "name": "save changes on update",
        "rules": [
            {
                "t": "set",
                "p": "prediction_start_offset",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "e52a8257eb6d1565",
        "type": "ui-slider",
        "z": "9f842c3bab9bc650",
        "group": "7a26dd4051bbd389",
        "name": "Prediction Start Offset",
        "label": "Prediction Start Offset",
        "tooltip": "",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "thumbLabel": "always",
        "showTicks": "always",
        "min": "-100",
        "max": "0",
        "step": 1,
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "showTextField": false,
        "x": 280,
        "y": 100,
        "wires": [
            [
                "650313665ec6a9cf"
            ]
        ]
    },
    {
        "id": "766a2db7a7eef21c",
        "type": "function",
        "z": "9f842c3bab9bc650",
        "name": "prepare ground truth data for plotting",
        "func": "// get full context \nlet context_data_full = flow.get('context_data_full');\n\ncontext_data_full = [context_data_full]     //convert to TiRex format\n\n// get the latest slider value (fallback to 0 if unset)\nlet prediction_start_offset = flow.get('prediction_start_offset');\nprediction_start_offset = Number.isInteger(prediction_start_offset) ? prediction_start_offset : 0;\n\n// removes context from the end to show prediction accuracy\nconst offset = Math.abs(Number(prediction_start_offset) || 0);\nconst len = context_data_full.length;\n\nconst start_ground_truth_index = offset > 0 ? Math.max(0, len - offset) : 0;\n\nconst context_data_ground_truth = context_data_full.slice(start_ground_truth_index);\n\n\n// payload is your JSON with mean: [[...]]\nconst series = (context_data_ground_truth && context_data_ground_truth[0]) ? context_data_ground_truth[0] : [];\nconst points = series.map((y, i) => ({ x: i + start_ground_truth_index, y: Number(y) }));\n\nmsg.topic = \"Ground Truth\";\nmsg.payload = points;       // array of {x,y}\n//msg.action = \"append\"\nmsg.action = \"replace\"\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1510,
        "y": 320,
        "wires": [
            [
                "7bc683a69ebbc023"
            ]
        ]
    },
    {
        "id": "c66e39f78c1e8b07",
        "type": "ui-file-input",
        "z": "9f842c3bab9bc650",
        "group": "7a26dd4051bbd389",
        "name": "Load Data Set",
        "order": 3,
        "width": "5",
        "height": "1",
        "topic": "topic",
        "topicType": "msg",
        "label": "File Input",
        "icon": "paperclip",
        "allowMultiple": false,
        "accept": "",
        "className": "",
        "x": 260,
        "y": 240,
        "wires": [
            [
                "7e073c33149d997c"
            ]
        ]
    },
    {
        "id": "7e073c33149d997c",
        "type": "function",
        "z": "9f842c3bab9bc650",
        "name": "raw to UTF string",
        "func": "if (Buffer.isBuffer(msg.payload)) {\n  // single file as Buffer\n  msg.payload = msg.payload.toString('utf8');\n} else if (Array.isArray(msg.payload) && msg.payload.every(Buffer.isBuffer)) {\n  // multiple files -> join them (or handle separately)\n  msg.payload = msg.payload.map(b => b.toString('utf8')).join('\\n');\n} else if (msg.payload && msg.payload.buffer && Buffer.isBuffer(msg.payload.buffer)) {\n  // some nodes wrap it like { buffer, filename, mimetype }\n  msg.payload = msg.payload.buffer.toString('utf8');\n}\n// now it's a UTF-8 string\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 300,
        "wires": [
            [
                "327760c5ebb3c3da"
            ]
        ]
    },
    {
        "id": "da482b41d6658a08",
        "type": "file in",
        "z": "9f842c3bab9bc650",
        "name": "Default data",
        "filename": "/data-to-forecast/air_passengers.csv",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 250,
        "y": 460,
        "wires": [
            [
                "327760c5ebb3c3da"
            ]
        ]
    },
    {
        "id": "14025c72819d922b",
        "type": "change",
        "z": "9f842c3bab9bc650",
        "name": "save file content on update",
        "rules": [
            {
                "t": "set",
                "p": "file_content",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 360,
        "wires": [
            [
                "0e58590a2a3ae7b8"
            ]
        ]
    },
    {
        "id": "0dfd74adcee639fb",
        "type": "inject",
        "z": "9f842c3bab9bc650",
        "name": "On start load default data",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.2",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 290,
        "y": 520,
        "wires": [
            [
                "da482b41d6658a08"
            ]
        ]
    }
]